header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 22.5%;
  width: 25%;
  float: left;
  opacity: 0.8;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  text-shadow: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: inherit;
  background-size: cover;
}

button:hover {
  opacity: 1;
}

@media only screen and (max-width: 515px) {
  button {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 360px) {
  button {
    font-size: 0.5em;
  }
}
