header {
  height: 10%;
  position: relative;
}

header h1 {
  position: relative;
  line-height: 0;
  top: 50%;
}

button {
  height: 22.5%;
  width: 25%;
  float: left;
  opacity: 0.8;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  text-shadow: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: inherit;
  background-size: cover;
}

button:hover {
  opacity: 1;
}
